@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind typography;

html {
  overflow-y: scroll;
}

body {
  padding-right: 0 !important;
  background-color: rgba(237, 244, 255, 1);
}

.conversation-card-body {
  padding-bottom: 2.5rem;
}

.conversation-card-body th, .conversation-card-body h3{
  color: black;
}

.markdown-content table {
  width: 100%;
  border-collapse: collapse;
}

.markdown-content table th,
.markdown-content table td {
  border: 1px solid black;
  padding: 8px;
}

.markdown-content table thead {
  background-color: #f3f4f6; /* 可选：灰色表头 */
}

.text-blue-shadow {
  textShadow: "0px 2px 6px 0px rgba(0, 81, 255, 0.4)";
}
